<div class="container">
 <div class="row">
    <div class="card">
      <div class="card-header">
       	<%= link_to 'New Article', articles_path, class: 'btn btn-primary' %>
       	<hr>
      </div>
      <div class="card-body">
       	<div class="col-md-12 mx-auto">
       	  <%= render 'form' %>
        </div>
     </div>
    </div>
  </div>
</div>





